<div class="container mt-5">
  <h1 class="mb-4">Deputados de <%= params[:uf].upcase %></h1>
  <div>
    <div class="mb-4">
        <%= form_with url: deputados_path, method: :get, local: true do %>
            <div class="row align-items-end">
            <div class="col-auto">
                <%= label_tag :uf, "Selecione o estado", class: "form-label" %>
                <%= select_tag :uf, options_for_select(@ufs, @selected_uf), class: "form-select", onchange: "this.form.submit();" %>
            </div>
            </div>
        <% end %>
    </div>
    <div class="card-body p-0">
      <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th>Nome</th>
            <th>Partido</th>
            <th>Total de Gastos</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @deputados.each do |d| %>
            <tr>
              <td><strong><%= d.nome %></strong></td>
              <td><%= d.partido %></td>
              <td>
                <span class="badge bg-primary">
                  <%= number_to_currency(d.despesas.sum(:vlrLiquido), unit: "R$", separator: ",", delimiter: ".") %>
                </span>
              </td>
              <td>
                <%= link_to "Ver despesas", deputado_despesas_path(d.id), class: "btn btn-outline-primary btn-sm" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>